<div class="d-flex justify-content-start align-items-center w-50">
  <div class="mr-3 pr-3">
    <img src="https://via.placeholder.com/300" width="300" height="300" border="0" class="rounded-circle">
  </div>
  <div>
    <h3>{{user.name}}</h3>
    <p>{{user.email}}</p>
    <a class="btn btn-primary" href="/users/{{user.id}}/edit">
      Edit
    </a>
  </div>
</div>