




<form>
    <legend>{{user.name}}</legend>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value={{user.email}}>
        </div>
    </div>
    <p class="form-control-plaintext">Photo</p>
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
    <br />
    <a href='/users/{{user.id}}/edit'>
        <button type="button" class="btn btn-primary">Edit</button>
    </a>
</form>