<div class="row">
  <div class="col-md-12">
    <img class="userImg"
      src="https://user-images.githubusercontent.com/82774991/124149854-9187b500-dac3-11eb-8364-0e5d8d826fc3.png"
      alt="user img" width="200px" height="200px">
    <div class="mt-2 p-5" style="display: inline-block;">
      <h1><b>{{user.name}}</b></h1>
      <p>
      <h4>{{user.email}}</h4>
      </p>
      <form action="/users/{{user.id}}/edit">
        <button class="btn btn-primary" type="submit">edit</button>
      </form>
    </div>
  </div>
</div>